<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Venmo Me</title>
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/custom.css" />
</head>
<body>
  <h1>Login to use Venmo Me</h1>
  <div id='btn-wrapper'>
    <a class='btn btn-primary' id="login" href="https://api.venmo.com/oauth/authorize?client_id=1378&scope=make_payments,access_friends,access_profile&response_type=token">LOGIN!</a>
  </div>
  <script src="js/jquery-1.10.2.min.js"></script>
  <script src="js/json2.js"></script>
  <script src="js/underscore-min.js"></script>
  <script src="js/backbone-min.js"></script>
</body>
</html>
